@charset "utf-8";
/*
	http://www.hanbom.com/
	PubTeam KimJuYeon
	2022.07.26
*/

@import url(http://pub.hanbom.com/@pub/@resource/css/_base.css);
@import url(http://pub.hanbom.com/@pub/@resource/css/_font.css);
@import url(http://pub.hanbom.com/@pub/@resource/css/_layout.css);
@import url(http://pub.hanbom.com/@pub/@resource/css/_button.css);
@import url(http://pub.hanbom.com/@pub/@resource/css/_form.css);
@import url(http://pub.hanbom.com/@pub/@resource/css/_global.css);

/* defult */
html, body, #wrap{width:100%;height:100%;}


.preview.btns{height:144px;}
@media (max-width: 767px) {
	.preview.btns{height:320px;}
}
.preview.form-input{height:160px;}
